button {
    background-color: burlywood;
}

span {
    font-style: italic;
}

.customer-journey {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    max-width: 20rem;
    margin: 50px auto;
    padding: 10px;
}
